.venv/
__pycache__/
*.pyc
# ignore large CSV data files 
data/raw/*.csv
CCES24_Common_OUTPUT_vv_topost_final.csv
merged_recontact_2024_vv (1).csv
cces2024_meng_replication_set.csv
2024-president-state.csv
presidential_vote_results.csv